@font-face {
        font-family: 'coldiac';
        src: url(images/Coldiac.woff);
     }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'coldiac';
}
body {
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-color: #E5E5E5 ;
}
.head {
    margin-top: 25px;
}

.xp__txt {
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 5px;
}

.main__div {
    text-align: center;
    height: 100vh;
}
.main__div h1 {
    letter-spacing: 35px;
    font-weight: 100;
    color: #fff;
    font-size: 10em;
    margin-top: 95px;
}
.main__div h2 {
    color: rgba(255, 255, 255, 0.801);
    font-weight: 100;
    font-size: 18px;
    width: 100vh;
    margin: auto;
    margin-top: 80px;
}
.main__div input {
    color: white;
    margin-top: 25px;
    outline: none;
    background: none;
    border: 1px solid white;
    padding: 20px 60px;
}

.main__div input:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px black;
}

.about {
    background-color: #CCC6C6;
    display: flex;
    color: black;
}
.about h1 {
    font-weight: 100;
    padding: 50px 0px;
    margin-left: 150px;
    margin-top: 50px;
    
}

.about p {
    width: 400px;
    margin-left: 70px;
}


.about__images img {
    width: 275px;
    height: 500px;
}

.review {
    display: flex;
    background-color: #E5E5E5;
    margin-top: 25px;
    justify-content: space-between;
}
.review h1 {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.review p {
    width: 590px;
    margin-left: 50px;
    margin-right: 20px;
}


.review img {
    width: 250px;
    height: 350px;
}

.review__rodrigo {
    background-color: #333;
    display: flex;
    height: 350px;
}

.review__rodrigo h1 {
    color: white;
    width: 300px;
}
.review__rodrigo p {
    width: 300px;
    margin-right: 85px;
    color: white;
}

.about__us {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #CCC6C6;
}
.about__us h1 {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.about__us p {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.contact__us {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 685px;
}

.contact__us h1 {
    color: white;
    margin: auto;
    margin-top: 20px;
}
.contact__us input {
    height: 50px;
    width: 350px;
    margin: auto;
}
.input__button {
    margin-bottom: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
footer a {
    color: black;
    text-decoration: none;
}

@media (max-width: 550px) {
    body {
        background-image: url(images/wallpaper__mobile.jpg);
        background-size: 100% 675px;
        background-repeat: no-repeat;
        background-color: #E5E5E5 ;
    }
    .head {
        margin-top: 40px;
    }
    
    .xp__txt {
        text-decoration: none;
        color: black;
        font-size: 18px;
        letter-spacing: 5px;
    }
    
    .main__div {
        margin: 0;
        text-align: center;
        height: 100vh;
    }
    .main__div h1 {
        letter-spacing: 15px;
        font-weight: 100;
        color: #fff;
        font-size: 2.5em;
        margin-top: 150px;
    }
    .main__div h2 {
        color: rgba(255, 255, 255, 0.801);
        font-weight: 100;
        font-size: 18px;
        width: 350px;
        margin: auto;
        margin-top: 100px;
    }
    .main__div input {
        color: white;
        margin-top: 40px;
        outline: none;
        background: none;
        border: 1px solid white;
        padding: 20px 60px;
    }
    
    .main__div input:hover {
        cursor: pointer;
        box-shadow: 0px 2px 5px black;
    }
    
    .about {
        background-color: #CCC6C6;
        display: flex;
        flex-direction: column;
        color: black;
    }
    .about h1 {
        text-align: center;
        margin: 0;
        
    }
    
    .about p {
        margin: 0;
        width: 70%;
        text-align: center;
        margin: auto;
        margin-bottom: 80px;
    }
    
    
    .about__images img {
        width: 100%;
        height: 500px;
        margin-bottom: 25px;
    }
    
    .review {
        display: flex;
        flex-direction: column;
        background-color: #E5E5E5;
        margin-top: 25px;
        text-align: center;
        margin-bottom: 0px;
    }
    .review h1 {
        margin: 0;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .review p {
        margin: 0;
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    
    .review img {
        width: 100%;
        height: 350px;
    }
    
    .review__rodrigo {
        background-color: #333;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .review__rodrigo h1 {
        color: white;
        margin: 0;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .review__rodrigo p {
        width: 70%;
        margin: 0;
        margin: auto;
        color: white;
        margin-bottom: 50px;
    }
    
    .about__us {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        background-color: #CCC6C6;
    }
    .about__us h1 {
        margin: 0;
        margin-top: 25px;
        text-align: center;
    }
    
    .about__us p {
        width: 70%;
        margin: 0;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .contact__us {
        display: flex;
        flex-direction: column;
        background-color: #333;
        width: 100%;
    }
    
    .contact__us h1 {
        color: white;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contact__us input {
        height: 50px;
        width: 350px;
        margin: auto;
    }
    #input__button {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;

    }
    footer a {
        color: black;
        text-decoration: none;
        margin: 0px;
    }
    
}

